# OS junk
.DS_Store

# IDE stuff
.vscode/
.idea/

# Environment variables
.env
*.env

# Ignore node_modules ONLY inside backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore uploads ONLY in backend
backend/uploads/
